{% with titre="Calendrier", connect=conn %}
    {% include "header.html" %}
{% endwith %}    
    <body>	
        <div class="marge">
            <form action="add" method="get">
                <input type="submit" class="btn btn-secondary" value="Ajouter un évènement"/>
            </form>
            <form action="csv" method="get">
                <input type="submit" class="btn btn-dark" value="Télécharger le JSON"/>
            </form>
            {% if not nom.primary %}
            <form action="del" method="get">
                <input type="submit" class="btn btn-danger" value="Supprimer le calendrier"/>
            </form>
            {% endif %}
            <hr/> Filtrer les évènements :
            <form class="form" action="#" method="GET">
                <input class="forms" type="search" name="titre" placeholder="Titre" aria-label="Search"><br/>
                <br/>
                  <div class="form-group">
                    <label for="nomCal">Limite*<br/> (jj/mm/aaaa, doit être dans le futur)</label><br/>
                    <input type="date" class="forms" name="dateFin" id="nomDal">
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtrer</button>
            </form>
        </div>
        <div class="bloc-prim">	
            <h2>Les évènements à venir du calendrier {{ nom.summary }} </h1><br />
                <ul class="list-group">
                    <li class="list-group-item active">Cliquez sur un évènement pour voir les détails ou le modifier</li>
                    {% for c in cal %}
                        <a href="/event/{{ nom.id }}/{{ c.id }}"><li class="list-group-item">     
                            {% set dateTemp = c.start.dateTime.split("T") %}
                            {% set date = dateTemp[0].split("-") %}
                            Évènement du {{date[2]}} / {{date[1]}} / {{date[0]}}
                            {% if c.summary %}
                                - {{ c.summary }}
                            {% endif %} 
                        </li></a>
                    {% endfor %}
                </ul>
        </div>
	</body>
</html>